---
import MainLayout from "./layouts/MainLayout.astro";
import Button from "./components/Button.jsx";
---

<MainLayout title="Home">
  <!-- <h1>Welcome to Dimensional Debris</h1> -->
  <p id="copyright" class="text-3xl bg-blue-500 text-white"></p>

  <Button />
</MainLayout>

<script>
  const p = document.querySelector("#paragraph333");
  if (p) {
    p.textContent = "textcontent33333";
  }
</script>
